<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/../header}">
    <head>
        <meta charset="UTF-8">
        <title>Liste declarations</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body class="container container-fluid">
    <div th:replace="~{/header :: header}"></div>
        <div layout:fragment="content">
            <h3 class="mt-3">Liste des Déclarations</h3>
            <table class="table table-bordered table-striped shadow py-1 mt-3">
                <tr>
                    <th>Date Declaration</th>
                    <th>Montant</th>
                    <th>Email Declarant</th>
                </tr>
                <tr th:each="declaration : ${declarations}">
                    <td class="align-middle" th:text="${declaration.dateDeclaration}"></td>
                    <td class="align-middle" th:text="${declaration.montantDeclaration}"></td>
                    <td class="align-middle" th:text="${declaration.declarant.email}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>