<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/../header}">
    <head>
        <meta charset="UTF-8">
        <title>Declaration-Paiements</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body class="container container-fluid">
    <div th:replace="~{/header :: header}"></div>
    <div layout:fragment="content">
        <h3 class="mt-3">Liste des paiements de la déclaration</h3>
        <div class="h3 text-danger text-center alert" th:if="${msg}" th:text="${msg}" role="alert"></div>
        <div class="h3 text-success text-center alert" th:if="${msgSuccess}" th:text="${msgSuccess}" role="alert"></div>
        <table class="table table-bordered table-striped shadow py-1 mt-3" th:if="${paiements}">
            <tr>
                <th>ID Declaration</th>
                <th>Date Declaration</th>
                <th>Montant Declaré</th>
                <th>Payé</th>
                <th th:if="${restant}">Restant</th>
                <th>Date Paiement</th>
                <th>Declarant</th>
                <th>Statut</th>
            </tr>
            <tr th:each="paiement : ${paiements}">
                <td class="align-middle" th:text="${declaration.id}"></td>
                <td class="align-middle" th:text="${declaration.dateDeclaration}"></td>
                <td class="align-middle" th:text="${declaration.montantDeclaration}"></td>
                <td class="align-middle" th:text="${paiement.montantPaiement}"></td>
                <td class="align-middle" th:text="${restant}"></td>
                <td class="align-middle" th:text="${paiement.datePaiement}"></td>
                <td class="align-middle" th:text="${declaration.declarant.email}"></td>
                <td class="align-middle" th:classappend="${statut == 'Réglé'} ? 'text-success' : 'text-danger'"
                    th:text="${statut == 'Réglé'} ? 'Réglé' : 'Non Réglé'">
                </td>
            </tr>
        </table>
    </div>
    </body>
</html>