<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/../header}">
    <head>
        <meta charset="UTF-8">
        <title>Declaration-Paiements</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    </head>
    <body class="container container-fluid">
    <div th:replace="~{/header :: header}"></div>
    <div layout:fragment="content">
        <div class="row mt-2">
            <div class="col-md-9" th:if="${paiements}">
                <h4 class="mt-3">Liste des paiements de la déclaration</h4>
                <table class="table table-bordered table-striped shadow py-1 mt-3">
                    <tr>
                        <th>ID_DEC</th>
                        <th>Date DEC</th>
                        <th>Montant DEC</th>
                        <th>Payé</th>
<!--                        <th th:if="${restant}">Restant</th>-->
                        <th>DatePaiement</th>
                        <th>Declarant</th>

                    </tr>
                    <tr th:each="paiement : ${paiements}">
                        <td class="align-middle" th:text="${declaration.id}"></td>
                        <td class="align-middle" th:text="${declaration.dateDeclaration}"></td>
                        <td class="align-middle" th:text="${declaration.montantDeclaration}"></td>
                        <td class="align-middle" th:text="${paiement.montantPaiement}"></td>
<!--                        <td class="align-middle" th:text="${restant}"></td>-->
                        <td class="align-middle" th:text="${paiement.datePaiement}"></td>
                        <td class="align-middle" th:text="${declaration.declarant.email}"></td>

                    </tr>
                </table>
            </div>
            <div class="col-md-3" th:if="${paiements}">
                <h4 class="mt-3">Statut Declaration</h4>
                <table class="table table-bordered table-striped shadow py-1 mt-3">
                    <tr>
                        <th>Montant Restant</th>
                        <th>Statut</th>
                    </tr>
                    <tr>
                        <td class="align-middle text-center" th:text="${restant}"></td>
                        <td class="align-middle" th:classappend="${statut == 'Réglé'} ? 'text-success' : 'text-danger'"
                            th:text="${statut == 'Réglé'} ? 'Réglé' : 'Non Réglé'">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row h5 text-danger text-center alert" th:if="${msg}" th:text="${msg}" role="alert"></div>
        <div class="row h5 text-success text-center alert" th:if="${msgSuccess}" th:text="${msgSuccess}" role="alert"></div>
    </div>
    </body>
</html>