<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Gestion Banque</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../fonts/icomoon/style.css" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" href="../css/owl.carousel.min.css" th:href="@{/css/style.css}">
</head>
<body>

<header class="container container-fluid shadow py-2">

    <nav class="navbar navbar-expand-lg navbar-light bg-info text-white">
        <a class="navbar-brand text-white" href="#">App</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-white" th:href="@{/api/declarant/addForm}">Ajouter Déclarant</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link text-white" th:href="@{/api/declarant/list}">Lister Déclarant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/api/declaration/addForm}">Faire Déclaration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/api/declaration/list}">Lister Déclaration</a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link text-white" th:href="@{/api/paiement/addForm}">Effectuer Paiement</a>-->
<!--                </li>-->
                <li class="nav-item">
                    <a class="nav-link text-white" th:href="@{/api/paiement/list}">Lister Paiement</a>
                </li>
                <li class="nav-item-end mr-auto">
                    <a class="nav-link text-danger" th:href="@{/api/auth/login}">Déconnexion</a>
                </li>

            </ul>

        </div>
    </nav>

</header>

<section layout:fragment="content" class="container"></section>

<footer>
    <div class="navbar-fixed-bottom text-center mt-2">
        <small>paiementInpot@gmail.com</small>
    </div>
</footer>


<script src="../js/jquery-3.3.1.min.js" th:href="@{/js/jquery-3.3.1.min.js}"></script>
<script src="../js/popper.min.js" th:href="@{/js/popper.min.js}"></script>
<script src="../js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>
<script src="../js/jquery.sticky.js" th:href="@{/js/jquery.sticky.js}"></script>
<script src="../js/main.js" th:href="@{/js/main.js}"></script>
</body>
</html>